.item-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-pt1 {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 22px;
}

.cta-btn {
  border: 1px solid #2a9d8f;
  border-radius: 2px;
  width: 260px;
  height: 30px;
  padding: 2px;
  color: #2a9d8f;
  font-size: 24px;
  font-weight: 700;
}

.img-card {
  max-height: 260px;
}
